"data/*.rda" filter=lfs diff=lfs merge=lfs -text
"data/*.pkl" filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
/home/fivos/Projects/GlossAPI/glossAPI/scripts/models/Greek_BERT_for_regression/saved_model/Annotation_space_torchmodel.bin filter=lfs diff=lfs merge=lfs -text
